.button {
  padding: 10px 20px 10px 20px;
  margin: 10px;
  background-color: #000;
  color: #fff;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--color-purple);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
