html,
body {
  margin: 0;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 150%;
}

::-webkit-scrollbar {
  width: 0;
}

.app {
  position: fixed;
  width: 100vw;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  bottom: -10vh;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-grey);

  .star-info,
  .issue-info {
    transition: 1s;
    color: var(--color-white);

    &__discord-tag {
      cursor: pointer;
    }

    a {
      color: var(--color-white);
    }
  }
}
